$vermelho: #F05757;
$verde: #00A859;
$amarelo: #F0DF2E;
$sombra-amarela: #A69C2C;

body{
  color: #525252;
}

.shaddow {
    // background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.box{
  margin-top: 40px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.7);
}

.logo-projeto{
  height: 150px;
}

.cabecalho{
  font-family: 'Arizonia', cursive;
  color: $amarelo;

  h1{
    font-size: 42px;
    text-shadow: 2px 1px 0px $sombra-amarela;
    margin-bottom: 0;
  }
}

.bs-wizard{
  margin: 0 20px 10px;
  border-bottom: 0;

  .bs-wizard-info{
    color: #595959 !important;
    padding: 0 12px;
  }
}

.form-doacao{
  width: auto;
  display: inline-block;

  input[type='submit']{
    &:before{
      content: "\f1ae";
    }
  }
}

.papai-noel{
  max-height: 180px;
}

.pagseguro{
  margin: 10px auto 0;

  img{
    max-height: 60px;
  }

  &:after{
    content: 'Doação feita através do PagSeguro';
    display: block;
    font-size: 0.7em;
  }
}
